.header-section {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

.footer-section {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

img{
    height: auto;
    margin: 0;
    padding: 0; 
}

/* body {
    background-image: url('HeroSection.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
} */
